.pop-cargarimagen {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;


    .cuerpo {
        position: relative;
        padding: 20px;
        width: 50%;
        background: #d8e3ec;
        border-radius: 20px;

        @media (width <= 575px) {
            width: 95%;
        }

        .header{
            display: flex;
            justify-content: center;

            h2{
                color: #067232;
                margin-bottom: 0;
                font-size: 1.25rem;
            }
        }
        .body{
            margin-top: 20px;

            .dropzone{
                width: 100%;
                height: 100px;
                color: #a5a5a5;
                background: #fafafa;
                background-color: transparent;
                border-radius: 2px;
                border-style: dashed;
                border-width: 2px;
                display: flex;
                justify-content: center;
                align-items: center;

                p{
                    text-align: center;
                    margin-bottom: 0;
                }

                @media (width <= 575px) {
                    padding: 5px;
                    height: 120px;
                    font-size: 0.8rem;
                }
            }
            .resultados{
                margin-top: 10px;

                h6{
                    font-weight: bold;
                }
                .error{
                    color: red;
                }

                .img-preview{
                    display: block;
                    margin-top: 20px;
                    width: 50%;
                    
                    @media (width <= 575px) {
                        margin: auto;
                        margin-top: 20px;
                        width: 100%;
                    }
                }
            }
        }

        .correcto{
            text-align: center;
            color: #067232;
            
            h5, p{
                font-weight: bold;
            }

            p{
                margin-bottom: 20px;
                
                i{
                    font-size: 2.1rem;
                    color: #067232;
                }
            }
        }

        .guardar{
            display: flex;
            justify-content: center;

            button{
                outline: none!important;
                padding: 5px 20px;
                background: #91ba14;
                border-radius: 8px;
                border: transparent;
            }

            .disabled {
                
                background: rgb(225,225,225);
                pointer-events: none;
            }
        }

        .footer{
            display: flex;
            justify-content: center;
            margin-top: 20px;

            button{
                background: transparent;
                border: transparent;
                outline: none!important;
                text-transform: uppercase;
                font-size: .7rem;
                color: #5b8f94;
            }
        }
    }
}
