$backgroundColor: #f4ede8;
$colorVerde: #006d2e;
$btnAzul: #d2dfe5;

.diseñaTarjet{
    margin-top: 4.2rem;
    background: $backgroundColor;
    padding: 20px 0;

    @media (width <= 575px) {
        padding: 20px 2%;
    }

    .img-banner{
        display: flex;
        justify-content: center;

        img{
            width: 15%;

            @media (width <= 575px) {
                width: 50%;
            }
        }
    }

    .texto{
        text-align: center;

        h1{
            font-size: 1.2rem;
            color: $colorVerde;
        }
        h5{
            font-size: 1rem;
            width: 33.3%;
            display: block;
            margin: auto;

            @media (width <= 575px) {
                width: 95%;
            }
        }
    }

    .DiseñaTuTarjet{
        width: 33.3%;
        margin: auto;
        margin-top: 40px;

        @media (width <= 575px) {
            width: 100%;
        }
        .texto{
            h2{
                text-align: center;
                font-size: 1.2rem;
                font-weight: bold;
            }
            h3{
                font-size: 1.1rem;
            }
            p{
                @media (width <= 575px) {
                    font-size: 0.9rem;
                }
            }
        }
    }

    .barra{
        width: 33.3%;
        margin: auto;
        margin-top: 20px;

        @media (width <= 575px) {
            width: 100%;
        }

        .cuerpo{
            background: $btnAzul;
            border-radius: 8px;
            display: flex;
            width: 70%;
            margin: auto;

            @media (width <= 575px) {
                width: 95%;
            }

            button{
                width: 50%;
                border: none;
                background: transparent;
                padding: 3px;
                outline: none!important;
                display: flex;
                justify-content: center;
                gap: 7px;
                font-size: 1rem;

                div{
                    background: #fff;
                    width: 25px;
                    border-radius: 100%;
                    height: 25px;
                }
            }
            .btn-1{
                border-right: 1px solid #575958;
            }
            .active{
                color: #5558af;
                div{
                    background: #5558af;
                    color: #fff;
                }
            }
        }
    }

    .separador{
        width: 33.3%;
        margin: auto;

        @media (width <= 575px) {
            width: 100%;
        }
    }

    .colecciones{
        width: 33.3%;
        margin: auto;

        @media (width <= 575px) {
            width: 100%;
        }

        h2{
            text-align: center;
            font-size: 1.1rem;
            font-weight: bold;
        }

        .opciones{
            display: flex;

            button{
                width: 33.3%;
                display: flex;
                justify-content: center;
                gap: 10px;
                background: transparent;
                outline: none!important;
                border: transparent;
                border-left: 1px solid #000;
            }
            .activeOption{
                color: #d45524;
            }

            .primer{
                border-left: transparent;
            }
        }

        .gratuitas{
            margin-top: 20px;

            i{
                color: #003f81;
                font-size: 1.5rem;
            }

            .slick-next{
                right: 0px;
            }
            .slick-prev {
                left: 0px;
            }

            .tarjetaGratuitas{
                img{
                    width: 70%;
                    margin: auto;
                    border-radius: 10px;

                    @media (width <= 575px) {
                        width: 80%;
                    }
                }
            }

            .mas-imagenes{
                display: flex;
                width: 70%;
                margin: auto;
                margin-top: 10px;

                @media (width <= 575px) {
                    width: 80%;
                }

                .view3{
                    width: 75%;
                    display: flex;
                    justify-content: space-around;
                    border-right: 1px solid #000;
                    img{
                        height: 40px;

                        @media (width <= 575px) {
                            height: 40px;
                        }
                    }
                }
                .viewpremium{
                    width: 25%;
                    display: flex;
                    justify-content: center;

                    img{
                        height: 40px;

                        @media (width <= 575px) {
                            height: 40px;
                        }
                    }
                }
            }

            .info{
                margin-top: 10px;
                display: flex;
            }
        }
    }
}