$backgroundColor: #f4ede8;
$colorVerde: #006d2e;
$btnAzul: #d2dfe5;
$btnAmarillo: #fab947;

.diseñaTarjet{
    margin-top: 4.2rem;
    background: $backgroundColor;
    padding: 20px 0;

    @media (width <= 575px) {
        padding: 20px 2%;
    }

    .img-banner{
        display: flex;
        justify-content: center;

        img{
            width: 15%;

            @media (width <= 575px) {
                width: 50%;
            }
        }
    }

    .texto{
        text-align: center;

        h1{
            font-size: 1.2rem;
            color: $colorVerde;
        }
        h5{
            font-size: 1rem;
            width: 33.3%;
            display: block;
            margin: auto;

            @media (width <= 575px) {
                width: 95%;
            }
        }
    }

    .DiseñaTuTarjet{
        width: 33.3%;
        margin: auto;
        margin-top: 40px;

        @media (width <= 575px) {
            width: 100%;
        }
        .texto{
            h2{
                text-align: center;
                font-size: 1.2rem;
                font-weight: bold;
            }
            h3{
                font-size: 1.1rem;
            }
            p{
                @media (width <= 575px) {
                    font-size: 0.9rem;
                }
            }
        }
    }

    .barra{
        width: 33.3%;
        margin: auto;
        margin-top: 20px;

        @media (width <= 575px) {
            width: 100%;
        }

        .cuerpo{
            background: $btnAzul;
            border-radius: 8px;
            display: flex;
            width: 70%;
            margin: auto;

            @media (width <= 575px) {
                width: 95%;
            }

            button{
                width: 50%;
                border: none;
                background: transparent;
                padding: 3px;
                outline: none!important;
                display: flex;
                justify-content: center;
                gap: 7px;
                font-size: 1rem;

                div{
                    background: #fff;
                    width: 25px;
                    border-radius: 100%;
                    height: 25px;
                }
            }
            .btn-1{
                border-right: 1px solid #575958;
            }
            .active{
                color: #5558af;
                div{
                    background: #5558af;
                    color: #fff;
                }
            }
        }
    }

    .separador{
        width: 33.3%;
        margin: auto;

        @media (width <= 575px) {
            width: 100%;
        }
    }

    .colecciones{
        width: 33.3%;
        margin: auto;

        @media (width <= 575px) {
            width: 100%;
        }

        h2{
            text-align: center;
            font-size: 1.1rem;
            font-weight: bold;
        }

        .opciones{
            display: flex;

            button{
                width: 33.3%;
                display: flex;
                justify-content: center;
                gap: 10px;
                background: transparent;
                outline: none!important;
                border: transparent;
                border-left: 1px solid #000;

                @media (width <= 393px) {
                    // border-left: transparent;
                    // font-size: 0.8rem;
                    gap: 1px;
                }
                @media (width <= 320px) {
                    border-left: transparent;
                    font-size: 0.8rem;
                    gap: 5px;
                }
            }
            .activeOption{
                color: #d45524;
            }

            .primer{
                border-left: transparent;
            }
        }

        .gratuitas{
            margin-top: 20px;

            i{
                color: #003f81;
                font-size: 1.5rem;
            }

            .slick-next{
                right: 0px;
            }
            .slick-prev {
                left: 0px;
            }

            .tarjetaGratuitas{
                img{
                    width: 70%;
                    margin: auto;
                    border-radius: 10px;

                    @media (width <= 575px) {
                        width: 80%;
                    }
                }
            }

            .slick-dots li {
                width: 75px;

                // @media (width <= 575px) {
                //     width: 80%;
                // }

                img{
                    border-radius: 5px;
                }
            }

            .mas-imagenes{
                display: flex;
                width: 70%;
                margin: auto;
                margin-top: 10px;

                @media (width <= 575px) {
                    width: 80%;
                }

                .view3{
                    width: 75%;
                    display: flex;
                    justify-content: space-around;
                    border-right: 1px solid #000;
                    img{
                        height: 40px;
                        border-radius: 5px;

                        @media (width <= 575px) {
                            height: 40px;
                        }
                    }
                }
                .viewpremium{
                    width: 25%;
                    display: flex;
                    justify-content: center;

                    img{
                        height: 40px;
                        border-radius: 5px;

                        @media (width <= 575px) {
                            height: 40px;
                        }
                    }
                }
            }

            .info{
                margin-top: 10px;
                display: flex;
                width: 70%;
                margin: auto;
                margin-top: 10px;
                align-items: center;

                @media (width <= 575px) {
                    width: 80%;
                }

                p{
                    margin-bottom: 0;
                    font-size: 0.9rem;

                    @media (width <= 575px) {
                        font-size: 0.7rem;
                    }
                }

                .modelos{
                    width: 75%;
                    text-align: center;

                    p{
                        color: #555554;
                    }
                }
                .premium-select{
                    width: 25%;
                    text-align: center;

                    div{
                        background: #e03716;
                        width: 22px;
                        height: 22px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 100%;
                        margin: auto;

                        p{
                            color: #fff;
                        }
                    }
                    p{
                        line-height: 15px;
                        color: #004884;
                    }
                }
            }

            .formulario{
                width: 100%;
                margin-top: 20px;

                .logotipo{
                    display: flex;
                    align-items: center;

                    .img-perfil{
                        width: 20%;

                        img{
                            width: 70px;
                            display: block;
                            margin: auto;
                            border-radius: 100%;
                            border: 1px solid #000;

                            @media (width <= 575px) {
                                width: 60px;
                            }
                        }
                    }
                    .cargar-imagen{
                        width: 80%;
                        height: 35px;
                        border-radius: 8px;
                        background: $btnAzul;
                        font-weight: bold;
                        border: transparent;
                        outline: none!important;

                        span{
                            font-size: 0.78rem;
                            font-weight: 400;
                            text-transform: uppercase;
                        }
                    }
                }

                .prefijo{
                    width: 20%;
                    text-align: center;
                    color: #555554;
                    margin-top: 10px;

                    p{
                        font-size: 0.8rem;
                        margin-bottom: 0;
                    }
                }

                .form{
                    form{
                        select, input{
                            padding: 5px 7px;
                            background: #fff;
                            border: transparent;
                            color: #555554;
                            border-radius: 8px;
                            outline: none!important;
                        }
                        input{
                            // width: calc(100% - 28px);
                            width: 100%;
                            // margin-left: 28px;
                            display: block;
                            margin-bottom: 15px;

                            @media (width <= 575px) {
                                // width: 100%;
                                margin-left: 5px;
                                width: calc(100% - 5px);
                            }
                        }
                        .input-error{
                            border: 2px solid red;
                        }
                        .select{
                            display: flex;
                            gap: 10px;
                            
                            div{
                                width: 20%;

                                select{
                                    width: 100%;
                                    display: block;
                                    margin: auto;
                                }
                            }
                            input{
                                width: 80%;
                                margin-left: 0;
                            }
                        }
                        .apellidos{
                            display: flex;
                            gap: 10px;
                            
                            input{
                                width: 50%;
                            }
                        }
                        a{
                            font-size: 0.8rem;
                            text-decoration: underline;
                            color: #000;
                            display: flex;
                            justify-content: center;
                        }
                        .buttons{
                            margin-top: 20px;
                            display: flex;
                            justify-content: center;

                            .primer, .segundo{
                                padding: 0 20px;

                                button{
                                    display: block;
                                    margin: auto;
                                    border-radius: 8px;
                                    background: transparent;
                                    border: transparent;
                                    padding: 5px 20px;
                                    outline: none!important;

                                    @media (width <= 360px) {
                                        font-size: 0.9rem;
                                    }
                                }
                            }

                            .primer{
                                border-right: 1px solid #000;

                                button{
                                    background: #a7a7d4;
                                }
                            }
                            .segundo{
                                button{
                                    background: #91ba14;
                                }
                            }
                        }

                        .regresar{
                            margin-top: 20px;

                            button{
                                background: transparent;
                                border: transparent;
                                outline: none!important;
                                color: #4f8b92;
                                text-transform: uppercase;
                                font-size: 0.8rem;
                                display: block;
                                margin: auto;
                            }
                        }
                        .error-message{
                            p{
                                color: red;
                            }
                        }

                        .text-usuario{
                            text-align: center;
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }

        .premium{
            margin-top: 20px;
            p{
                text-align: center;
            }
            button{
                border-radius: 8px;
                border: transparent;
                outline: none!important;
            }

            .encabezado{
                button{
                    background: $btnAmarillo;
                    padding: 3px 40px;
                    display: block;
                    margin: auto;
                }
            }

            .tarjetasPremium{
                margin-top: 20px;

                img{
                    width: 380px;
                    display: block;
                    margin: auto;
                    border-radius: 20px;

                    @media (width <= 575px) {
                        width: 80%;
                    }
                }
            }
            .sliderpremium{
                margin-top: 20px;

                i{
                    color: #003f81;
                    font-size: 1.5rem;
                }
    
                .slick-next{
                    right: 0px;
                }
                .slick-prev {
                    left: 0px;
                }

                .paquete{
                    width: 50%!important;
                    display: block!important;
                    margin: auto!important;
                    background: $btnAzul;
                    border-radius: 10px;
                    padding: 10px;

                    @media (width <= 575px) {
                        width: 70%!important;
                    }

                    p{
                        margin-bottom: 0px;
                        span{
                            font-size: 0.8rem;
                            text-align: center;
                        }
                    }
                    hr{
                        margin: 5px 0;
                    }
                    .compra{
                        display: flex;
                        align-items: center;

                        .precio{
                            width: 50%;
                            border-right: 1px solid #000;

                            p{
                                font-weight: bold;
                                margin-bottom: 0;
                            }
                        }
                        .btncompra{
                            width: 50%;

                            button{
                                display: block;
                                margin: auto;
                                padding: 2px 20px;
                                background: #91ba14;
                            }
                        }
                    }
                }
            }

            .desc{
                margin-top: 20px;
            }

            .buttons-rows{
                display: flex;
                flex-direction: column;
                > * + * {
                    margin-top: 15px;
                }
                .rowbuttons{
                    display: flex;
                    gap: 20px;
                    justify-content: center;
    
                    button{
                        width: 25%;
                        background: #90c2d6;
                        display: flex;
                        gap: 10px;
                        padding: 5px 10px;
    
                        @media (width <= 575px) {
                            width: 45%;
                        }
    
                        div{
                            background: #fff;
                            width: 25px;
                            border-radius: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            p{
                                margin-bottom: 0;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            .regresar{
                margin-top: 20px;

                button{
                    background: transparent;
                    border: transparent;
                    outline: none!important;
                    color: #4f8b92;
                    text-transform: uppercase;
                    font-size: 0.8rem;
                    display: block;
                    margin: auto;
                }
            }
        }

        .personalizada{
            margin-top: 20px;
            text-align: center;

            img{
                width: 50%;
                display: block;
                margin: auto;
                margin-bottom: 20px;

                @media (width <= 575px) {
                    width: 70%;
                }
            }

            p{
                text-align: center;

                span{
                    font-weight: bold;
                }
            }
            a{
                background: $btnAmarillo;
                padding: 5px 20px;
                border-radius: 8px;
                text-decoration: none;
                color: #000;
            }
            .regresar{
                margin-top: 20px;

                button{
                    background: transparent;
                    border: transparent;
                    outline: none!important;
                    color: #4f8b92;
                    text-transform: uppercase;
                    font-size: 0.8rem;
                    display: block;
                    margin: auto;
                }
            }
        }
    }

    .tusDatos{
        width: 33.3%;
        margin: auto;

        @media (width <= 575px) {
            width: 100%;
        }

        h6{
            text-align: center;
            font-weight: bold;
        }

        .imagen-perfil{
            display: flex;
            justify-content: space-between;
            align-items: center;

            img{
                width: 70px;
                border-radius: 100%;
                border: 1px solid;
            }

            button{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: calc(100% - 90px);
                height: 35px;
                border: transparent;
                border-radius: 8px;
                background: $btnAzul;
                font-weight: bold;
                padding: 5px 20px;

                span{
                    font-weight: 400;
                    text-transform: uppercase;
                    font-size: 0.8rem;
                }
            }
        }

        .formulario{
            margin-top: 20px;

            form{
                flex-direction: column;

                > * + * {
                    margin-top: 15px;
                }

                input, select{
                    width: 100%;
                    border-radius: 8px;
                    padding: 5px 10px;
                    border: transparent;
                    outline: none!important;
                }

                a{
                    text-align: center;
                    text-decoration: underline;
                    font-size: 0.8rem;
                    margin-bottom: 0px;
                    color: #000;
                    display: flex;
                    justify-content: center;
                }

                .twoInput{
                    display: flex;
                    gap: 20px;
                }

                .check{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    input{
                        width: 15px;
                    }
                    label{
                        margin-bottom: 0;
                    }
                }
                .rango{
                    display: flex;
                    align-items: center;
                    
                    label{
                        margin-bottom: 0;
                        width: 80%;
                        text-align: center;
                    }
                    select{
                        width: 20%;
                    }
                }
                p{
                    font-size: 0.8rem;
                    text-align: center;
                    text-transform: uppercase;
                    margin-bottom: 0;
                }

                button{
                    border: transparent;
                    outline: none!important;
                    border-radius: 8px;
                    padding: 5px 10px;

                    span{
                        font-weight: bold;
                    }
                }

                .btn-amarillo{
                    background: $btnAmarillo;
                }

                .accept{
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    .switches{
                        .switch {
                            font-size: 0.8rem;
                            position: relative;
                            display: inline-block;
                            width: 3.5em;
                            height: 2em;
                        }
                        
                        /* Hide default HTML checkbox */
                        .switch input {
                            opacity: 0;
                            width: 0;
                            height: 0;
                        }
                        
                        /* The slider */
                        .slider {
                            position: absolute;
                            cursor: pointer;
                            inset: 0;
                            background: white;
                            border-radius: 50px;
                            overflow: hidden;
                            transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
                        }
                        
                        .slider:before {
                            position: absolute;
                            content: "";
                            height: 1.4em;
                            width: 1.4em;
                            right: 0.3em;
                            bottom: 0.3em;
                            transform: translateX(150%);
                            background-color: #59d102;
                            border-radius: inherit;
                            transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
                        }
                        
                        .slider:after {
                            position: absolute;
                            content: "";
                            height: 1.4em;
                            width: 1.4em;
                            left: 0.3em;
                            bottom: 0.3em;
                            background-color: #cccccc;
                            border-radius: inherit;
                            transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
                        }
                        
                        .switch input:focus + .slider {
                            box-shadow: 0 0 1px #59d102;
                        }
                        
                        .switch input:checked + .slider:before {
                            transform: translateY(0);
                        }
                        
                        .switch input:checked + .slider::after {
                            transform: translateX(-150%);
                        }
                    }
                    
                    p{
                        margin-bottom: 0;
                        text-transform: none;
                        font-size: 1rem;
                    }
                }

                .terminos{
                    display: flex;
                    gap: 10px;
                    justify-content: center;
                    align-items: center;

                    input{
                        width: 15px;
                    }
                    label{
                        margin-bottom: 0;

                        span{
                            color: #003f81;
                            cursor: pointer;
                        }
                    }
                }

                .btn-guardar{
                    button{
                        background: #91ba14;
                        display: block;
                        margin: auto;
                        outline: none!important;

                        @media (width <= 575px) {
                            width: 100%;
                        }
                    }
                }

                    .regresar{
                    margin-top: 20px;

                    button{
                        background: transparent;
                        border: transparent;
                        outline: none!important;
                        color: #4f8b92;
                        text-transform: uppercase;
                        font-size: 0.8rem;
                        display: block;
                        margin: auto;
                    }
                }
                .input-error{
                    border: 2px solid red;
                }
                .error-message{
                    p{
                        color: red;
                        text-align: left;
                    }
                }
            }
        }
    }
}
