.previsualizar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .cuerpo{
        background: #fff;
        padding: 20px;
        border-radius: 20px;
        width: 600px;

        @media (width <= 575px) {
            width: 95%;
        }


        .encabezado{

            h5{
                margin: 0;
                text-align: center;
                color: #006d2e;
                font-weight: bold;
            }
        }

        .body{
            padding: 30px 0;

            p{
                text-align: center;
                color: #7a7a7a;
            }

            .back{
                background-size: cover!important;
                background-repeat: no-repeat!important;
                background-position: center!important;
                width: 80%;
                width: 	448px;
                // border-radius: 10px;
                height: 281px;
                display: block;
                margin: auto;

                @media (width <= 575px) {
                    max-width: 100%;
                    max-height: 206px;
                }

                label{
                    font-weight: bold;
                    font-size: 1.4rem;
                    cursor: move;

                    @media (width <= 575px) {
                        font-size: 1.2rem;
                    }
                }
                .cargo{
                    font-weight: 400;
                    font-size: 1.2rem;

                    @media (width <= 575px) {
                        font-size: 1rem;
                    }
                }
            }
            .backHeader{
                width: 100%;
                height: 500px;
                background-position: top right!important;
                background-size: cover!important;
                border-radius: 0 0 30px 30px;

                position: relative;
                z-index: 3!important;
                
                @media (width <= 428px) {
                    border-radius: 0 0 20px 20px;
                    min-height: 330px;
                }

            }
            .logotipo-image{
                width: 380px;
                position: relative;

                // top: -450px;
                // left: 80px;

                // width: 400px;
                // height: 400px;
                object-fit: cover;
                object-position: center center;

                z-index: 1!important;

                @media (width <=600px) {
                    width: 200px;
                    height: 200px;
                    top: -300px;
                }
            }
        }

        .subirImagen{
            h6{
                text-align: center;
                color: #006d2e;
                font-weight: bold;
            }
            .dropzone{
                width: 100%;
                height: 100px;
                color: #a5a5a5;
                background: #fafafa;
                background-color: transparent;
                border-radius: 2px;
                border-style: dashed;
                border-width: 2px;
                display: flex;
                justify-content: center;
                align-items: center;

                p{
                    text-align: center;
                    margin-bottom: 0;
                }

                @media (width <= 575px) {
                    padding: 5px;
                    height: 120px;
                    font-size: 0.8rem;
                }
            }
            .dropzoneHeader{
                height: 50px;
                @media (width <= 428px) {
                    height: 30px;
                }
            }
            
        }

        .guardar-imagen{
            margin-bottom: 20px;
            display: flex;
            justify-content: center;

            button{
                border: transparent;
                outline: none!important;
                background: #91ba14;
                padding: 5px 20px;
                border-radius: 8px;
            }
        }

        .footer{
            display: flex;
            justify-content: center;

            button{
                border: 0px;
                background: transparent;
                text-transform: uppercase;
                color: #5b8f94;
                font-size: 0.7rem;
                outline: none!important;
            }
        }        
    }

    .correcto{
        width: auto;
        display: flex;
        justify-content: center;

        .encabezado{
            h5{
                font-weight: 400;
            }

            p{
                text-align: center;
                margin: 0;
                i{
                    color: #006d2e;
                    font-size: 2.5rem;
                    text-align: center;
                }
            }
        }

    }
}