$btnResultado: #e1eff2;

.BusquedaActividad{
    background: #e9edf2;
    padding: 20px 10%;

    @media (width <= 575px) {
        background: transparent;
        padding: 0 2%;
    }

    hr{
        @media (width > 575px) {
            display: none;
        }
    }

    h2{
        font-size: 1.2rem;
        text-align: center;
    }
    p{
        text-align: center;

        @media (width <= 575px) {
            font-size: 0.9rem;
        }
    }

    .busquedaNombre{
        margin-bottom: 10px;

        @media (width <= 575px) {
            // z-index: 1;
            // position: sticky;
            // top: 68px;
        }

        p{
            font-size: 0.9rem;
            line-height: 17px;

            @media (width <= 575px) {
                font-size: 0.8rem;
            }
        }
        .buscar-contenedor{
            margin: auto;
            width: 70%;
            display: flex;

            @media (width <= 575px) {
                width: 100%;
            }

            input{
                width: 90%;
                background: #fff;
                border: transparent;
                outline: none;

                @media (width <= 575px) {
                    background: #e9edf2;
                    width: 76%;
                }
            }
        }
        .img-form, .borrar{
            width: 5%;
            height: 40px;
            background: #fff;

            @media (width <= 575px) {
                width: 12%;
                background: #e9edf2;
            }
        }
        .img-form{
            border-radius: 8px 0 0 8px;
            padding: 1px 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            
            @media (width <= 575px) {
                padding: 3px 5px;

                img{
                    height: 80%;
                }
            }
        }
        .borrar{
            border-radius: 0 8px 8px 0;
            button{
                width: 100%;
                border: transparent;
                outline: none!important;
                height: 100%;
                background: #fff;
                border-radius: 0 8px 8px 0;

                @media (width <= 575px) {
                    background: #e9edf2;
                }
            }
        }
        .borrar-desactivate{
            cursor: none;
            pointer-events: none;
        }
    }

    .controles{
        width: 100%;
        border-bottom: 1px solid #000;
        display: flex;
        justify-content: center;

        @media (width <= 575px) {
            border-bottom: none;
            z-index: 1;
            position: sticky;
            top: 68px;
        }

        .controles-body{
            width: 70%;
            display: flex;

            @media (width <= 575px) {
                width: 100%;
            }

            .control{
                background: #a0c216;
                width: 33.33%;
                padding: 10px 0px;
                height: 120px;
                border-width: 0 0 0 10%;
    
                @media (width <= 575px) {
                    height: 90px;
                    padding: 5px 0px;
                }
    
                button{
                    outline: none!important;
                    border: none;
                    background: transparent;
                    display: block;
                    margin: auto;
                    height: 70%;
                    width: 100%;
                    padding: 0px;
                    border-right: 1px solid #585c45;
    
                    @media (width <= 575px) {
                        font-size: 0.8rem;
                    }
    
                    div{
                        height: 70%;
                        display: flex;
                        width: 100%;
    
                        img{
                            display: block;
                            margin: auto;
                        }
                        .categoria{
                            width: 60px;
    
                            @media (width <= 575px) {
                                width: 55px;
                            }
                        }
                        .actividad{
                            width: 50px;
    
                            @media (width <= 575px) {
                                width: 45px;
                            }
                        }
                        .ubicacion{
                            width: 40px;
    
                            @media (width <= 575px) {
                                width: 30px;
                            }
                        }
                        .nombre{
                            width: 50px;
    
                            @media (width <= 575px) {
                                width: 30px;
                            }
                        }
                    }
    
                    span{
                        display: block;
                    }
                }
                p{
                    margin-bottom: 0;
                    height: 30%;

                    @media (width <= 575px) {
                        font-size: 0.8rem;
                    }
                }

                .btn-desactivate{
                    cursor: not-allowed;
                    pointer-events: none;
                }
            }
            .control-inicio{
                border-radius: 25px 0 0 0;
                
                @media (width <= 575px) {
                    border-radius: 15px 0 0 0;
                }
            }
            .control-ubicacion{
                border-radius: 0 25px 0 0;

                @media (width <= 575px) {
                    border-radius: 0 15px 0 0;
                }
                button{
                    border-right: none;
                }
            }
        }
    }
    .controles-desactivate{
        button{
            cursor: not-allowed!important;
            pointer-events: none;
        }
    }

    .resultados{
        display: flex;
        padding: 20px 0 0 0;
        gap: 15px;
        align-items: flex-start;

        @media (width <= 575px) {
            display: none;
        }

        .resultado{
            background: #fff;
            padding: 15px 10px;
            border-radius: 20px;
            width: 33.33%;
            display: flex;
            flex-direction: column;

            > * + * {
                margin-top: 10px;
            }

            h6{
                text-align: center;
            }

            button{
                width: 100%;
                outline: none!important;
                border: transparent;
                padding: 5px;
                border-radius: 8px;
                background: $btnResultado;
                text-align: left;

                div{
                    width: 25px;
                    height: 25px;
                    background: #fff;
                    border-radius: 100%;
                    display: inline-block;
                    margin-right: 10px;
                    
                    i{
                        display: block;
                        margin: auto;
                        text-align: center;
                        color: #3ca700;
                        font-size: 1.1rem;
                    }
                }
            }
            .no-check{
                div{
                    background: transparent;

                    i{
                        color: transparent;
                    }
                }
            }
            .btn-cerrar{
                background: transparent;
                text-align: center;
                i{
                    margin-right: 10px;
                }
            }

            .sub-resultados{
                button{
                    background: #f8f9fa;

                    div{
                        background: transparent;

                        i{
                            color: #3ca700;
                        }
                    }
                }
                .no-check{
                    background: transparent;
                    i{
                        color: transparent;
                    }
                }
            }

            input{
                background: #e9edf2;
                border: transparent;
                padding: 5px;
                outline: none!important;
                border-radius: 8px;
            }
        }
        .resultado.ubicacion{

            .encabezado{
                display: flex;
                justify-content: space-between;
                align-items: center;

                h6{
                    margin-bottom: 0;
                }

                button{
                    width: auto;
                    background: transparent;
                }
            }

            .primer{
                background: $btnResultado;
            }
            button{
                background: #f8f9fa;
            }
            .check{
                div{
                    background: transparent;
                    i{
                        color: #3ca700;
                    }
                }
            }
        }
    }

    .resultadosMobile{
        padding: 20px 2%;

        @media (width >= 575px) {
            display: none;
        }

        p{
            font-size: 1rem;
        }

        .encabezado{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            p{
                margin-bottom: 0;
            }
            button{
                border: none;
                background: transparent;
                outline: none!important;

                i{
                    margin-right: 5px;
                }
            }
        }
        
        .resultados{
            display: flex;
            flex-direction: column;
            padding: 0;
    
            > * + * {
                margin-top: 0px;
            }

            button{
                width: 100%;
                outline: none!important;
                border: transparent;
                padding: 5px;
                border-radius: 8px;
                background: $btnResultado;
                text-align: left;

                div{
                    width: 25px;
                    height: 25px;
                    background: #fff;
                    border-radius: 100%;
                    display: inline-block;
                    margin-right: 10px;
                    
                    i{
                        display: block;
                        margin: auto;
                        text-align: center;
                        color: #3ca700;
                        font-size: 1.1rem;
                    }
                }
            }
            .no-check{
                div{
                    background: transparent;

                    i{
                        color: transparent;
                    }
                }
            }
            .btn-cerrar{
                background: transparent;
                text-align: center;
                i{
                    margin-right: 10px;
                }
            }
            .sub-resultados{
                width: 100%;
                button{
                    background: #f8f9fa;

                    div{
                        background: transparent;

                        i{
                            color: #3ca700;
                        }
                    }
                }
                .no-check{
                    background: transparent;
                    i{
                        color: transparent;
                    }
                }
            }
        }
        .resultados.ubicacion{
            .primer{
                background: $btnResultado;
            }
            button{
                background: #f8f9fa;
            }
            .check{
                div{
                    background: transparent;
                    i{
                        color: #3ca700;
                    }
                }
            }
        }
        input{
            width: 100%;
            margin-bottom: 10px;
            background: #e9edf2;
            border: transparent;
            padding: 5px 7px;
            border-radius: 8px;
            outline: none!important;
        }
    }
}