.NuevosUsuarios{
    padding: 20px 0;

    h2{
        font-size: 1.3rem;
        text-align: center;
        font-weight: bold;
    }

    .tarjetas{
        width: 80%;
        display: block;
        margin: auto;
        padding: 20px 0;

        .slide-tarjeta{
            padding: 0 15px;
            cursor: pointer;
            
            img{
                width: 100%;
            }
        }

        i{
            color: #003f81;
            font-size: 1.5rem;
        }
    }

    p{
        text-transform: uppercase;
        text-align: center;
        margin-top: 20px;

        @media (width <= 575px) {
            padding: 0 10px;
            font-size: 0.9rem;
        }
    }

    ul.slick-dots{
        @media (width <= 360px) {
            display: flex!important;
            justify-content: center;
        }
    }
}
.slick-next:before {
    display: none;
}
.slick-prev:before {
    display: none;
}
.slick-prev, .slick-next{
    width: 30px;
    z-index: 1;
}