.bannerDesk{
    display: flex;
    // margin-top: 4.2rem;
    align-items: center;
    
    div{

        video{
            width: 78%;
            display: block;
            margin: auto;
        }

        h1{
            text-transform: uppercase;
            font-size: 1.5rem;
            letter-spacing: 10px;
            color: #0e8748;
            font-weight: 300;
            width: 40%;
            display: block;
            margin: auto;
            text-align: center;
            margin-bottom: 5px;
        }
        img{
            display: block;
            margin: auto;
            width: 40%;
        }
    }
}

.bannerMobile{
    // margin-top: 4.2rem;
    width: 100%;

    video{
        width: 100%;
    }
}